name: Publish Dart to Codecov
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      # Get dependencies
      - name: Install dependencies
        run: dart pub get

      # Run all tests with coverage
      - name: Run tests with coverage
        run: dart run test --coverage="coverage"

      # Convert to LCOV
      - name: Convert coverage to LCOV
        run: dart run coverage:format_coverage --lcov --in=coverage --out=coverage.lcov --packages=.dart_tool/package_config.json --report-on=lib

      # Upload coverage data
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
        with:
          files: coverage.lcov